 body {
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /*background: linear-gradient(to right, #ff758c, #ff7eb3);*/
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-image: url(./image.png);
 }

 section {
   background: rgba(255, 255, 255, 0.9);
   padding: 40px;
   border-radius: 20px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
   text-align: center;
   width: 350px;
 }

 label {
   display: block;
   margin: 15px 0 5px;
   font-weight: bold;
   color: #ff4d6d;
   font-size: 16px;
 }

 input {
   width: 80%;
   padding: 10px;
   border-radius: 10px;
   border: 1px solid #ff4d6d;
   margin-bottom: 10px;
   font-size: 14px;
 }

 button {
   background-color: #ff4d6d;
   color: white;
   border: none;
   padding: 12px 25px;
   border-radius: 10px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   transition: 0.3s;
   margin-top: 10px;
 }

 button:hover {
   background-color: #ff2a55;
   transform: scale(1.05);
 }

 #result {
   font-size: 22px;
   font-weight: bold;
   color: #d6004c;
   margin-top: 20px;
 }

 #say {
   font-size: 18px;
   color: #ff3366;
   font-weight: bold;
   margin-top: 10px;
 }